<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>YT Media Downloader</title>
	</head>

	<body>
		<main>
			<h1 id="brand">YouTube Media Downloader</h1>

			<form action="/getdata" method="POST" id="form">
				<input
					type="url"
					name="videoURL"
					id="videoURL"
					placeholder="Enter a YouTube Link"
					required
					autofocus
				/>
				<button type="submit" id="download">Get Links</button>
			</form>
		</main>
	</body>
</html>
